<ng-template appPlaceholder></ng-template>

<div style="text-align: center" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-xs-6">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
<!--      <app-alert [message]="error" *ngIf="error" (close)="onAlertCloseEvent()"></app-alert>-->

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" ngModel required email name="email" id="email"/>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ngModel required minlength="6" name="password" id="password"/>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="authForm.invalid">
        {{ loginMode ? 'Login' : 'Register' }}
      </button> |
      <button class="btn btn-warning" (click)="onToggleMode()" type="button">
        Switch to {{ loginMode ? 'register' : 'login' }}
      </button>

    </form>
  </div>
</div>
