<div class="row">
  <div class="col-xs-6">
    <form>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" required name="email" id="email" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" required name="password" id="password" />
      </div>

      <button class="btn btn-primary" *ngIf="loginMode">Login</button>
      <button class="btn btn-primary" *ngIf="!loginMode">Register</button>
      |
      <button class="btn btn-warning" (click)="onToggleMode()">
        Switch to {{ loginMode ? 'register' : 'login' }}
      </button>

    </form>
  </div>
</div>
